*{
    width: 80%;
    margin: auto;
    background-color: whitesmoke; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.9em;
    
}
a{
    color:#1C1013;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    
}
a:hover{
    color: #3D0212;
    font-style: oblique;
    
    
}
a:active{
    color:#360512;
}

li{
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 10px;
    list-style: none;
   
    
}
h4{
    font-size: 20px;
    color:#3D0212;
    font-weight: 500;
    border-bottom: 1.7px solid #3D0212;
    padding-bottom: 5px;

}
#nismo{
    color: #471D28;
    font-weight: 450;
}
